@charset "UTF-8";
/* -- variables --*/
/* -- end variables -- */
/* -- mixins  -- */
/* -- end mixins  -- */
/* -- element config -- */
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, Sans, Sans-Serif;
  box-sizing: border-box;
  outline: dotted 1px lightblue;
}

h1, h2, h3, h4, h5, h5 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol {
  list-style: none;
}

button {
  all: unset;
  display: block;
  padding: 5px 15px;
  color: white;
  background: black;
  border-left: solid #666 2px;
  border-bottom: solid #666 2px;
  font-family: Serif, Times Roman, Times;
  font-size: 13px;
}
@media (min-width: 414px) {
  button {
    font-size: inherit;
  }
}
button:hover, button:focus {
  filter: invert(20%);
}
button:active {
  border: 0;
  filter: invert(80%);
  transform: scale(0.98);
}

/* -- end element config -- */
/* -- utilies -- */
/* where utility class go  */
.serif {
  font-family: Serif, Times, Times Roman;
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* where modular elements get their base config */
/* -- components  -- */
#top-bar {
  padding-right: 15px;
}
@media (min-width: 760px) {
  #top-bar {
    display: flex;
    justify-content: space-between;
  }
}
#top-bar .logo {
  padding: 10px 15px;
}
#top-bar .logo h1 {
  font-size: 18px;
}
@media (min-width: 760px) {
  #top-bar .logo h1 {
    font-size: 24px;
  }
}
#top-bar #top-nav {
  width: 100vw;
  height: 0;
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.3s ease;
}
@media (min-width: 760px) {
  #top-bar #top-nav {
    width: min-content;
    height: unset;
  }
}
#top-bar #top-nav.show {
  height: min-content;
  padding: 10px 0;
}
#top-bar #top-nav i#hamburger {
  position: relative;
  bottom: 30px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
}
@media (min-width: 760px) {
  #top-bar #top-nav i#hamburger {
    display: none;
  }
}
#top-bar #top-nav i#hamburger .bar {
  width: 100%;
  height: 4px;
  margin: 2px 0;
  background: black;
  position: relative;
  transition: all 0.2s ease;
}
#top-bar #top-nav i#hamburger .bar.x {
  height: 3px;
}
#top-bar #top-nav i#hamburger .bar.x:nth-child(1) {
  transform: rotate(45deg);
}
#top-bar #top-nav i#hamburger .bar.x:nth-child(2) {
  opacity: 0;
  height: 0;
}
#top-bar #top-nav i#hamburger .bar.x:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 13px;
}
#top-bar #top-nav .nav {
  position: absolute;
  background: white;
  opacity: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: all 0.5s ease, opacity 1ms, padding 1ms;
}
@media (min-width: 760px) {
  #top-bar #top-nav .nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    opacity: 1;
    z-index: 20;
    position: static;
  }
}
@media (min-width: 760px) {
  #top-bar #top-nav .nav ol {
    display: flex;
  }
}
#top-bar #top-nav .nav.show {
  opacity: 1;
  height: min-content;
  z-index: 5;
  padding: 20px 0 10px 30px;
}
@media (min-width: 760px) {
  #top-bar #top-nav .nav .numberd {
    width: 200px;
  }
}
#top-bar #top-nav .nav .numberd:nth-child(3) > a:before, #top-bar #top-nav .nav .numberd:nth-child(4) > a:before {
  content: "〉";
  transform: rotate(90deg);
  line-height: 0.5px;
  font-weight: 600;
}
#top-bar #top-nav .nav .numberd:before {
  bottom: 0;
}
@media (min-width: 760px) {
  #top-bar #top-nav .nav .numberd:before {
    display: none;
  }
}
#top-bar #top-nav .nav .submenu {
  left: 30%;
}
@media (min-width: 760px) {
  #top-bar #top-nav .nav .submenu {
    left: unset;
  }
}
#top-bar #top-nav .nav .submenu.show {
  opacity: 1;
  height: min-content;
  z-index: 6;
}

nav.nav ol {
  counter-reset: count;
}
nav.nav ol li:active {
  filter: invert(100%);
  transform: scale(0.98);
}
nav.nav ol li:hover a {
  font-family: Serif, Times Roman, Times;
  color: white;
  background: black;
}
nav.nav ol li:hover ul.submenu a {
  background: #555;
}
nav.nav ol li.numberd {
  counter-increment: count;
}
nav.nav ol li.numberd:before {
  content: counter(count);
  background: black;
  color: white;
  font-family: Times Roman, Serif, Times;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  text-align: center;
  font-size: 12px;
  bottom: 5px;
  right: 15px;
}
nav.nav ol li a {
  display: block;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  transition: all 0.2s ease;
}
nav.nav ol li a:hover {
  font-family: Serif, Times Roman, Times;
  color: white;
  background: black;
}
nav.nav ol li a:active {
  filter: invert(100%);
  transform: scale(0.98);
}
nav.nav ol li ul.submenu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 200px;
  background: #555;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
nav.nav ol li ul.submenu:hover {
  opacity: 1;
  z-index: 1;
  height: min-content;
}
nav.nav ol li ul.submenu:focus {
  opacity: 1;
  z-index: 1;
  height: min-content;
}
nav.nav ol li ul.submenu a {
  padding: 10px 5px;
  color: white;
}
nav.nav ol li ul.submenu a:hover {
  background: #333;
}
nav.nav ol li > a:hover + ul.submenu {
  opacity: 1;
  z-index: 1;
  height: 78px;
}
nav.nav ol li > a:focus + ul.submenu {
  opacity: 1;
  z-index: 1;
  height: min-content;
}
nav.nav ol li.show a {
  font-family: Serif, Times Roman, Times;
  color: white;
  background: black;
}

.summary {
  position: absolute;
  text-align: justify;
  background: white;
  opacity: 0;
  z-index: -1;
  height: 0;
  transition: all 0.5s ease;
}
.summary.show {
  opacity: 1 !important;
  z-index: 1 !important;
  height: 100%;
}

.img-tab-crop {
  overflow: hidden;
}
.img-tab-crop img {
  position: absolute;
  opacity: 0;
  z-index: -1;
  height: 0;
  transition: all 0.5s ease;
}
.img-tab-crop img.show {
  z-index: 1 !important;
  opacity: 1 !important;
  width: 100%;
  height: 100%;
}

article.card {
  display: flex;
  justify-content: space-between;
}
article.card .card-info {
  width: 20%;
}
article.card figure {
  flex-direction: column;
  width: 30%;
}
article.card figure img {
  height: 100%;
}
article.card section.card-details {
  width: 50%;
}

@media (min-width: 760px) {
  footer {
    padding: 0 50px;
  }
}

#footer {
  border-top: 1px solid #333;
  margin: 0 auto;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: justify;
  padding-top: 20px;
}
@media (min-width: 760px) {
  #footer {
    flex-direction: row;
    height: 191px;
    padding: 20px 50px;
  }
}
@media (min-width: 760px) {
  #footer .feature {
    width: 50%;
  }
}
#footer .feature figure {
  padding: 0 10px;
}
#footer .feature figure figcaption {
  font-size: 10px;
}
#footer .feature .card {
  height: 100%;
  justify-content: space-evenly;
  transition: all 0.2s ease;
}
@media (min-width: 760px) {
  #footer .feature .card {
    justify-content: space-between;
  }
}
#footer .feature .card:hover {
  transform: scale(1.2);
}
#footer .feature .card:active {
  transform: scale(0.98);
  filter: invert(70%);
}
#footer .feature .card-info ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .feature .card-info ul li {
  font-size: 12px;
  padding: 5px;
  filter: invert(100%);
  background: white;
}
#footer .feature .card-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
#footer .feature .card-details h1 {
  margin-bottom: 40px;
}
@media (min-width: 760px) {
  #footer .links {
    width: 40%;
  }
}
#footer #lite-nav {
  height: 100%;
}
#footer #lite-nav .nav {
  height: 100%;
}
#footer #lite-nav .nav ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
#footer #lite-nav .nav li.numberd {
  text-align: center;
}
@media (min-width: 760px) {
  #footer #lite-nav .nav li.numberd {
    text-align: left;
  }
}
#footer #lite-nav .nav li.numberd:nth-child(3) {
  display: none;
}
#footer #lite-nav .nav li.numberd:nth-child(4) {
  display: none;
}
#footer #lite-nav .nav li.numberd:before {
  display: none;
}

/* -- end components  -- */
/* -- end utilies -- */
/* -- dev -- */
img {
  background: black;
}

/* -- end dev -- */
/* -- PAGES -- */
/* -- index -- */
@media (min-width: 760px) {
  #landing-bar #top-bar {
    display: none;
  }
}

@media (min-width: 760px) {
  #landing {
    height: 700px;
  }
}
#landing .container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
@media (min-width: 760px) {
  #landing .container {
    flex-direction: unset;
  }
}
#landing .sidebar {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
@media (min-width: 760px) {
  #landing .sidebar {
    padding: 10px 0 30px 40px;
  }
}
#landing .sidebar #nav {
  width: 33%;
  display: none;
}
@media (min-width: 760px) {
  #landing .sidebar #nav {
    display: unset;
  }
}
#landing .sidebar #nav nav.nav {
  height: 550px;
}
#landing .sidebar #nav nav.nav ol {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#landing .sidebar #page-summaries {
  width: 90%;
}
@media (min-width: 760px) {
  #landing .sidebar #page-summaries {
    width: inherit;
  }
}
#landing .sidebar #page-summaries .summaries {
  margin: 0 auto;
}
#landing .sidebar #page-summaries .summaries .summary {
  width: 100%;
  position: static;
  z-index: unset;
  opacity: 1;
  height: 480px;
  padding-left: 10px;
}
@media (min-width: 414px) {
  #landing .sidebar #page-summaries .summaries .summary {
    height: 420px;
  }
}
@media (min-width: 760px) {
  #landing .sidebar #page-summaries .summaries .summary {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 29.7%;
  }
}
#landing .sidebar #page-summaries .summaries .summary header {
  margin-bottom: calc(33% - 47px);
}
#landing .sidebar #page-summaries .summaries .summary p {
  font-size: 11px;
}
@media (min-width: 760px) {
  #landing .sidebar #page-summaries .summaries .summary p {
    font-size: unset;
  }
}
#landing .sidebar #page-summaries .summaries .summary .direct-nav a {
  display: block;
  width: min-content;
  margin: 20px auto;
}
#landing .sidebar #page-summaries .summaries .summary .direct-nav button {
  font-size: 13px;
  width: 120px;
}
@media (min-width: 760px) {
  #landing .sidebar #page-summaries .summaries .summary .direct-nav button {
    display: none;
  }
}
#landing .hero {
  width: 40%;
  height: 100%;
}
#landing #hero-img .img-tab-crop {
  flex-direction: column;
}
@media (min-width: 760px) {
  #landing #hero-img .img-tab-crop {
    flex-direction: row;
  }
}
#landing #hero-img img {
  position: static;
  z-index: unset;
  opacity: 1;
  height: 480px;
}
@media (min-width: 414px) {
  #landing #hero-img img {
    height: 420px;
  }
}
@media (min-width: 760px) {
  #landing #hero-img img {
    position: absolute;
    z-index: -1;
    opacity: 0;
    height: 700px;
  }
}
#landing #hero-img img.show {
  width: 100%;
}
@media (min-width: 760px) {
  #landing #hero-img img.show {
    width: 40%;
  }
}

/* -- end index -- */
/* -- end PAGES -- */

/*# sourceMappingURL=style.css.map */
