@import '_util.scss';
/* -- element config -- */

*{
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, Sans, Sans-Serif;
	box-sizing: border-box;
	// dev properties
	outline: dotted 1px lightblue;
}

h1, h2, h3, h4, h5, h5 {
	font-weight: 400;
}

a{
	text-decoration: none;
	color: black;
}
ul, ol {
	list-style: none;
}
button{
	all: unset;
	display: block;
	padding: 5px 15px;
	color: white;
	background: black;
	border-left: solid #666 2px;
	border-bottom: solid #666 2px;
	font-family: Serif, Times Roman, Times;
	font-size: 13px;
	@include plus {
		font-size: inherit;
	}
	&:hover, &:focus{
		filter: invert(20%);
	}
	&:active{
		border: 0;
		filter: invert(80%);
		transform: scale(.98);
	}
}

/* -- end element config -- */
/* -- utilies -- */
/* where utility class go  */

.serif{
	font-family: Serif, Times, Times Roman;
}
.flex-middle{
	display: flex;
	justify-content: center;
	align-content: center;
}

/* where modular elements get their base config */
 /* -- components  -- */

// top bar
#top-bar{
	padding-right: 15px;
	.logo{
		padding: 10px 15px;
		h1{
			font-size: 18px;
			@include pad {
				font-size: 24px;
			}
		}
	}// .logo
	#top-nav{
		width: 100vw;
		height: 0;
		display: flex;
		flex-direction: row-reverse;
		transition: all .3s ease;
		&.show{
			height: min-content;
			padding: 10px 0;
		}
		i#hamburger {
			position: relative;
			bottom: 30px;
			right: 15px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 20px;
			height: 20px;
			.bar{
				width: 100%;
				height: 4px;
				margin: 2px 0;
				background: black;
				position: relative;
				transition: all .2s ease;
				&.x{
					height: 3px;
					&:nth-child(1){
						transform: rotate(45deg);
					}
					&:nth-child(2){
						// display: none;
						opacity: 0;
						height: 0;
					}
					&:nth-child(3){
						transform: rotate(-45deg);
						bottom: 13px;
					}
				}
			}
		}// end i
		.nav{
			position: absolute;
			background: white;
			opacity: 0;
			width: 100%;
			height: 0;
			z-index: -1;
			transition: all .5s ease, opacity 1ms, padding 1ms;
			&.show{
				opacity: 1;
				height: min-content;
				z-index: 5;
				padding: 20px 0 10px 30px;
			}
			.numberd{
			&:nth-child(3)>a:before, &:nth-child(4)>a:before {
				content: "\232A";
				transform: rotate(90deg);
				line-height: .5px;
				font-weight: 600;
			}
				&:before{
					bottom: 0;
				}
			}
			.submenu {
				left: 30%;
				&.show{
					opacity: 1;
					height: min-content;
					z-index: 6;
				}
			}
		}// end .nav
	}// end #top-nav
}
// end top bar

// nav menu
nav.nav{
	ol {
		counter-reset: count;
		li {
			&:active{
				filter: invert(100%);
				transform: scale(.98);
			}
			&.numberd{
				counter-increment: count;
				&:before{
					content: counter(count);
					background: black;
					color: white;
					font-family: Times Roman, Serif, Times;
					border-radius: 50%;
					width: 15px;
					height: 15px;
					position: relative;
					display: block;
					text-align: center;
					font-size: 12px;
					bottom: 5px;
					right: 15px;
				}
			}
			a {
				display: block;
				padding: 5px 15px;
				width: 100%;
				height: 100%;
				letter-spacing: 2px;
				transition: all .2s ease;
				&:hover{
					font-family: Serif, Times Roman, Times;
					color: white;
					background: black;
				}
				&:active{
					filter: invert(100%);
					transform: scale(.98);
				}
			}
			ul.submenu{
				// hide it and take it out of doc flow
				position: absolute;
				z-index: -1;
				opacity: 0;
				width: 200px;
				background: #555;
				height: 0;
				transition: all .6s ease;
				// once displayed hovering submenu will keep it displayed
				&:hover{
					opacity: 1;
					z-index: 1;
					height: min-content;
				}
				&:focus{
					opacity: 1;
					z-index: 1;
					height: min-content;
				}
				a{
					padding: 10px 5px;
					color: white;
					&:hover{
						background: #333;
					}
				}
			}
			&.show{
				a{
					font-family: Serif, Times Roman, Times;
					color: white;
					background: black;
				}
				&>a {
					&:hover + ul.submenu{ // pure css submenu - li parent of link and submenu can use adjacent sibling selector '+'. 
						// the '>' makes it so only the direct children of the hoverd element effect each other. 
						opacity: 1;
						z-index: 1;
						height: min-content;
					}
					&:focus + ul.submenu{ // allow submenues to be tab-able
						opacity: 1;
						z-index: 1;
						height: min-content;
					}
				}
			}// end submenu
		}// end li
	}// end ol
}
// end nav

// summary tab text content
.summary{
	// base hides
	position: absolute;
	text-align: justify;
	background: white;
	opacity: 0;
	z-index: -1;
	height: 0;
	transition: all .5s ease;
	&.show{
		opacity: 1 !important;
		z-index: 1 !important;
		height: 100%;
	}
}
// end summary

// tab img
.img-tab-crop{
	overflow: hidden;
	img{
		position: absolute;
		opacity: 0;
		z-index: -1;
		height: 0;
		transition: all .5s ease;
		&.show{
			z-index: 1 !important;
			opacity: 1 !important;
			width: 100%;
			height: 100%;
		}
	}
}
// end tab img

// card
article.card{
	display: flex;
	justify-content: space-between;
	.card-info{
		width:20%;
	}
	figure{
		flex-direction: column;
		width: 30%;
		img{
			height: 100%;
		}
	}
	section.card-details{
		width: 50%
	}
}
// end card

// footer
footer{
	@include pad {
		padding: 0 50px;
	}
}
#footer{
	border-top: 1px solid #333;
	margin: 0 auto;
	max-width: 2000px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: justify;
	padding-top: 20px;
	@include pad {
		flex-direction: row;
		height: 191px;
		padding: 20px 50px;
	}
	.feature{
		@include pad {
			width: 50%;
		}
		figure{
			padding: 0 10px;
			figcaption{
				font-size: 10px;
			}
		}
		.card{
			height: 100%;
			justify-content: space-evenly;
			transition: all .2s ease;
			@include pad {
				justify-content: space-between;
			}
			&:hover{
				transform: scale(1.2);
			}
			&:active{
				transform: scale(.98);
				filter: invert(70%);
			}
		}
		.card-info{
			ul{
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				li{
					font-size: 12px;
					padding: 5px;
					filter: invert(100%);
					background: white;
				}
			}
		}
		.card-details{
			width: 40%;
			display: flex;
			flex-direction: column;
			font-size: 12px;
			h1{
				margin-bottom: 40px;
			}
		}
	}// end feature
	.links{
		@include pad {
			width: 40%;
		}
	}
	#lite-nav {
		height: 100%;
		.nav{
			height: 100%;
			ol{
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				height: 100%;
			}
			li.numberd{
				text-align: center;
				@include pad {
					text-align: left;
				}
				&:nth-child(3){
					display: none;
				}
				&:nth-child(4){
					display: none;
				}
				&:before{
					display: none;
				}
			}
		}
	}// end local nav config
}
// end footer

/* -- end components  -- */
/* -- end utilies -- */
/* -- dev -- */

	img{
		background: black;
	}

/* -- end dev -- */
/* -- PAGES -- */
/* -- index -- */

#top-bar{
	@include pad{
		display: none;
	}
}
#landing{
	@include pad{
		height: 700px;
	}
	.container{
		height: 100%;
		display: flex;
		flex-direction: row-reverse;
		@include pad{
			flex-direction: unset;
		}
	}
	.sidebar{
		display: flex;
		width: 60%;
		@include pad {
			padding: 10px 0 30px 40px;
		}
		justify-content: space-between;
		#nav{
			width: 33%;
			display: none;
			@include pad {
				display: unset;
			}
			nav.nav{
				height: 550px;
				ol {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
			}
		}// end #nav
		#page-summaries{
			width: 90%;
			@include pad{
				width: inherit;
			}
			.summaries {
				margin: 0 auto;
				.summary{
					width: 100%;
					position: static;
					z-index: unset;
					opacity: 1;
					height:480px ;
					padding-left: 10px;
					@include plus {
						height: 420px
					}
					@include pad {
						position: absolute;
						z-index: -1;
						opacity: 0;
						width:(60% * .66 * .75 );
					}
					header{
						margin-bottom: calc(33% - 47px);
					}
					p {
						font-size: 11px;
						@include pad {
							font-size: unset;
						}
					}
					.direct-nav {
						a{
							display: block;
							width: min-content;
							margin: 20px auto;
						}
						button{
							font-size: 13px;
							width: 120px;
							@include pad {
								display: none;
							}
						}
					}
				}
			}
		}// end #page-summaries
	}// end .sidebar
	.hero{
		width: 40%;
		height: 100%;
	}
	#hero-img {
		.img-tab-crop{
			flex-direction: column;
			@include pad {
				flex-direction: row;
			}
		}
		img {
			position: static;
			z-index: unset;
			opacity: 1;
			height: 480px;
			@include plus {
				height: 420px;
			}
			@include pad {
				position: absolute;
				z-index: -1;
				opacity: 0;
				height: 700px;
			}
			&.show{
				width: 100%;
				@include pad {
					width: 40%;
				}
			}
		}
	}// end #hero-img

}//end #landing

/* -- end index -- */
/* -- end PAGES -- */
