doctype
html
	head
		block head
			include head
		block title
			title DEFAULT
	body
		block topBar
			include topBar
		block heroBanner
			include heroBanner
		block page
			include _default
		block footer
			include footer
	block scripts
		include scripts
