article.card
	.card-info
		ul
			li 516 17th ave S. Nampa, ID 83651
			li 5/5/2020
			li 5:30 PM
			li $5 at the door

	figure.card-crop.flex-middle
		img(src="/images/featured.jpg" alt="featured img")
		figcaption feeling the FOMO yet?

	section.card-details
		h1 sometime in the future
		p Faucibus nisl tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem integer vitae justo eget magna. Commodo ullamcorper a lacus vestibulum sed.


