
//- meta tags
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width initial-scale=1.0")
//- end of meta tags
//- css
//- link(rel="stylesheet" tye="text/stylesheet" src="css/style.css")
link(rel="stylesheet" href="/public/css/style.css"  )
//- end css
