nav.nav
	ol
		li.numberd
			a(href="/cv" data-img="#cv-img" data-sum="#cv-sum") CV
		li.numberd
			a(href="/profile" data-img="#profile-img" data-sum="#profile-sum") profile
		li.numberd
			a(href="/events" data-img="#events-img" data-sum="#events-sum") events
			ul.submenu
				li
					a(href="/events/preformances") preformances
				li
					a(href="/events/workshops") workshops
		li.numberd
			a(href="/projects" data-img="#projects-img" data-sum="#projects-sum") projects
			ul.submenu
				li
					a(href="/projects/poems") poems
				li
					a(href="/projects/chapbooks") chapbook
		li.numberd
			a(href="/contact" data-img="#contact-img" data-sum="#contact-sum") contact
