section.summaries
	article#landing-sum.summary.show
		header
			h1.title.serif Landing
			h2.headline summary
		.sum-body
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus. Convallis tellus id interdum velit laoreet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Orci sagittis eu volutpat odio facilisis. Adipiscing enim eu turpis egestas pretium aenean pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Aliquam ultrices sagittis orci a scelerisque purus. Amet porttitor eget dolor morbi non arcu risus quis varius. Amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et. Faucibus nisl tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem integer vitae justo eget magna. Commodo ullamcorper a lacus vestibulum sed.


	article#cv-sum.summary
		header
			h1.title.serif CV
			h2.headline summary
		.sum-body
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus. Convallis tellus id interdum velit laoreet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Orci sagittis eu volutpat odio facilisis. Adipiscing enim eu turpis egestas pretium aenean pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Aliquam ultrices sagittis orci a scelerisque purus. Amet porttitor eget dolor morbi non arcu risus quis varius. Amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et. Faucibus nisl tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem integer vitae justo eget magna. Commodo ullamcorper a lacus vestibulum sed.
		.direct-nav
			a(href="/cv")
				button amanda's cv


	article#profile-sum.summary
		header
			h1.title.serif profile
			h2.headline summary
		.sum-body
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus. Convallis tellus id interdum velit laoreet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Orci sagittis eu volutpat odio facilisis. Adipiscing enim eu turpis egestas pretium aenean pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Aliquam ultrices sagittis orci a scelerisque purus. Amet porttitor eget dolor morbi non arcu risus quis varius. Amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et. Faucibus nisl tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem integer vitae justo eget magna. Commodo ullamcorper a lacus vestibulum sed.
		.direct-nav
			a(href="/profile")
				button amanda's profile


	article#events-sum.summary
		header
			h1.title.serif events
			h2.headline summary
		.sum-body
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus. Convallis tellus id interdum velit laoreet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Orci sagittis eu volutpat odio facilisis. Adipiscing enim eu turpis egestas pretium aenean pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Aliquam ultrices sagittis orci a scelerisque purus. Amet porttitor eget dolor morbi non arcu risus quis varius. Amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et. Faucibus nisl tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem integer vitae justo eget magna. Commodo ullamcorper a lacus vestibulum sed.
		.direct-nav
			a(href="/events") 
				button amanda's events


	article#projects-sum.summary
		header
			h1.title.serif projects
			h2.headline summary
		.sum-body
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus. Convallis tellus id interdum velit laoreet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Orci sagittis eu volutpat odio facilisis. Adipiscing enim eu turpis egestas pretium aenean pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Aliquam ultrices sagittis orci a scelerisque purus. Amet porttitor eget dolor morbi non arcu risus quis varius. Amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et. Faucibus nisl tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem integer vitae justo eget magna. Commodo ullamcorper a lacus vestibulum sed.
		.direct-nav
			a(href="/projects") 
				button amanda's projects

	article#contact-sum.summary
		header
			h1.title.serif contact
			h2.headline summary
		.sum-body
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus. Convallis tellus id interdum velit laoreet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Orci sagittis eu volutpat odio facilisis. Adipiscing enim eu turpis egestas pretium aenean pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Aliquam ultrices sagittis orci a scelerisque purus. Amet porttitor eget dolor morbi non arcu risus quis varius. Amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et. Faucibus nisl tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem integer vitae justo eget magna. Commodo ullamcorper a lacus vestibulum sed.
		.direct-nav
			a(href="/contact") 
				button amanda's contact



