figure.img-tab-crop.flex-middle
	img#landing-img.show(src="images/landing.jpg" alt="landing image")
	img#cv-img(src="images/cv.jpg" alt="cv image")
	img#profile-img(src="images/profile.jpg" alt="profile image")
	img#events-img(src="images/events.jpg" alt="events image")
	img#projects-img(src="images/projects.jpg" alt="projects image")
	img#contact-img(src="images/contact.jpg" alt="contact image")


