extends partials/_layout

block title
	title Amanda Ranth

block heroBanner

block topBar
	#landing-bar
		include partials/topBar


block page
	main#landing
		.container
			section.sidebar

				#nav
					include partials/nav

				#page-summaries
					include partials/summary

			section.hero
				#hero-img
					include partials/tabImg

